.nav-card {
  padding: 30px;
  display: flex;
  margin: 0px auto 0px auto;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #2a2a2a99;
  align-items: center;
}

.nav-card-image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.nav-card-info {
  margin: 10px 0 10px 30px;
}
.nav-card-info span {
  display: block;
}
