.header {
  position: fixed;
  box-shadow: 2px 2px 50px rgb(221, 221, 221);
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background: #e6e6e6;
}

.nav {
  align-items: center;
  cursor: pointer;
}

.logo {
  padding-top: 4rem;
  margin: 0 auto;
}

.navCardList {
  margin-top: 45px;
}
