.navbar {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 20%;
  height: 100%;
  z-index: 100;
  background-color: #EDEDF2;
  top: 0;
  
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.zquads{
  size: 36px;
  margin: 70px 60px 60px 45px;
}



.logo {
  margin-left: 0;
}

.login {
  color: #333;
  display: flex;
  align-items: center;
}

.login::after {
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('../Assets/user.svg') no-repeat center center;
  margin-left: 0.8rem;
}
