.login {
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  min-height: 100vh;
  gap: 2rem;
}

.login::before {
  display: block;
  content: '';
  background: url('../../Assets/login.svg') no-repeat center center;
  background-size: cover;
}

.forms {
  max-width: 30rem;
  padding: 2rem;
  background: white;
  margin: 8rem 2rem 10rem 0;
  border-radius: 10px;
}

@media (max-width: 50rem) {
  .login {
    grid-template-columns: 1fr;
  }
  .login::before {
    display: none;
  }
  .forms {
    max-width: 100%;
    margin: 8rem 2rem;
  }
}
